app/catalog/**/*
app/.settings/**/*
app/src/main/app/mule-app.properties
app/src/main/app/mule-deploy.properties

dq-result-listener/**/*
gateway/**/*
collibra-domain/**/*
collibra-domain-1.1.0/**/*
studio_id.xml
.metadata/**/*
.mule/**/*
